<!-- Modal proyectos -->
<div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="proyectosModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="proyectosModal">Editar mis Proyectos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
                <form class="was-validated">
                    <div class="mb-3">
                        <label for="nombreProyectos" class="form-label">Nombre del Proyecto</label>
                        <textarea class="form-control" id="nombreProyectos" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="fechaProyectos" class="form-label">Fecha del Proyecto</label>
                        <textarea class="form-control" id="fechaProyectos" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imagenProyecto" class="form-label">URL:</label>
                        <input type="url" placeholder="Inserte URL de la imagen" id="imagenProyecto" name="imagenProyecto" required>
                        <div class="invalid-feedback">
                            Por favor inserte una url valida.
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="urlGithubProyectos" class="form-label">url GitHub del Proyecto: </label>
                        <input type="url" placeholder="Inserte URL de GitHub" id="urlGithubProyectos" required>
                        <div class="invalid-feedback">
                            Por favor inserte una url valida.
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="urlProyectos" class="form-label">url Live del Proyecto: </label>
                        <input type="url" placeholder="Inserte URL del proyecto" id="urlProyectos" required>
                        <div class="invalid-feedback">
                            Por favor inserte una url valida.
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
  
            </div>
        </div>
    </div>
  </div>
