<!-- Modal banner -->
<div class="modal fade" id="imagenBannerModal" tabindex="-1" aria-labelledby="imagenBannerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imagenBannerModal">Editar Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
                <form class="was-validated">
                    <div class="mb-3">
                        <label for="imagenBanner" class="form-label">URL:</label>
                        <input type="url" placeholder="Inserte URL de la imagen" id="imagenBanner" name="imagenBanner" required>
                        <div class="invalid-feedback">
                            Por favor inserte una url valida.
                          </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
  
            </div>
        </div>
    </div>
  </div>