<!-- Proyectos -->
<section id="seccion-proyectos" class="proyectos-recientes seccion-clara d-flex flex-column">
    <h2 class="seccion-titulo texto-negro">Mis proyectos</h2>
    <h3 class="seccion-descripcion">Estos son algunos de mis proyectos...</h3>
    <!--Galeria de proyectos-->
    <div class="container text-center proyectos-contenedor">
        <div class="row">
            <div class="col-12">
                <div class="proyecto">
                    <img [src]="proyecto.imagenProyecto" alt="Mi Portfolio img">
                    <div class="overlay">
                        <p>{{proyecto.nombre}}</p>
                        <h6>{{proyecto.fecha}}</h6>
                        <div class="iconos-contenedor">
                            <a [href]="proyecto.urlGithub" target="_blank"
                                rel="noopener noreferrer">
                                <i class="bi bi-github"></i>
                            </a>
                            <a href="#" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-laptop"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn boton-edit"><i class="bi bi-x-octagon"></i></button>
                <button type="button" class="btn boton-edit" data-bs-toggle="modal" data-bs-target="#proyectosModal"><i
                        class="bi bi-pencil"></i></button>
            </div>
        </div>
    </div>

</section>

<app-modal-proyectos></app-modal-proyectos>