<!-- Modal experiencia -->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="experienciaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="experienciaModal">Editar informacion sobre la Experiencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
                <form class="was-validated">
                    <div class="mb-3">
                        <label for="sectorExperiencia" class="form-label">Sector de trabajo</label>
                        <textarea class="form-control" id="sectorExperiencia" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="nombreExperiencia" class="form-label">Nombre de la empresa</label>
                        <textarea class="form-control" id="nombreExperiencia" required></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="fechaInicioExperiencia" class="form-label">Fecha que entro al trabajo</label>
                      <textarea class="form-control" id="fechaInicioExperiencia" required></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="fechaFinExperiencia" class="form-label">Fecha en que finalizo su trabajo</label>
                    <textarea class="form-control" id="fechaFinExperiencia" required></textarea>
                </div>
                  <div class="mb-3">
                      <label for="infoExperiencia" class="form-label">Descripcion del puesto</label>
                      <textarea class="form-control" id="infoExperiencia" required></textarea>
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
  
            </div>
        </div>
    </div>
  </div>

  