<!-- Hero -->
<section id="seccion-hero" class="hero align-items-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
        <div>
            <img class="hero-imagen-desarrollador" [src]="imgPerfil"
                alt="Foto de Juan Jose Cifuentes" width="30%" height="30%">
            <button type="button" class="btn boton-edit" data-bs-toggle="modal" data-bs-target="#imagenPerfilModal"><i
                    class="bi bi-pencil"></i></button>
        </div>
        <div>
            <button type="button" class="btn boton-edit" data-bs-toggle="modal" data-bs-target="#infoPerfilModal"><i
                    class="bi bi-pencil"></i></button>
            <h1>Hola, soy {{name}} {{lastName}}</h1>
            <h2>{{title}}.</h2>
        </div>
    </div>
    <div class="hero-inferior">
        <img class="hero-inferior-imagen img-fluid" [src]="imgBanner"
            alt="Desarrollo web, HTML, CSS, JavaScript">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#imagenBannerModal"><i
                class="bi bi-pencil"></i></button>
    </div>
</section>

<app-modal-img-perfil></app-modal-img-perfil>
<app-modal-info-perfil></app-modal-info-perfil>
<app-modal-banner></app-modal-banner>