<!-- Modal desarrollo web -->

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">

            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <h1 class="modal-title fs-5 form-titulo" id="desarrolloModal">Agregar nueva informacion de Desarrollo Web</h1>
                <div class="mb-3">
                    <label for="nombreDesarrollo" class="form-label">Nombre del sector</label>
                    <input type="text" class="form-control" id="nombreDesarrollo" formControlName="sector"
                        [ngClass]="{'is-invalid': Sector?.errors && Sector?.touched, 'is-valid': !Sector?.errors && Sector?.touched}"
                        [(ngModel)]="sector">
                </div>
                <div *ngIf="Sector?.errors  && Sector?.touched">
                    <h6 *ngIf="Sector?.hasError('required')" class="error">
                        El Sector de programacion es requerido.
                    </h6>
                </div>
                <div class="mb-3">
                    <label for="fechaDesarrollo" class="form-label">Fecha</label>
                    <input type="text" class="form-control" id="fechaDesarrollo" formControlName="diaAprendido"
                        [(ngModel)]="diaAprendido">
                </div>

                <div class="mb-3">
                    <label for="infoDesarrollo" class="form-label">Lenguajes del sector</label>
                    <input type="text" class="form-control" id="infoDesarrollo" formControlName="lenguaje"
                        [ngClass]="{'is-invalid': Lenguaje?.errors && Lenguaje?.touched, 'is-valid': !Lenguaje?.errors && Lenguaje?.touched}"
                        [(ngModel)]="lenguaje">
                </div>
                <div *ngIf="Lenguaje?.errors  && Lenguaje?.touched">
                    <h6 *ngIf="Lenguaje?.hasError('required')" class="error">
                        El Lenguaje de programacion es requerido.
                    </h6>
                </div>

                <div class="modal-footer">
                    <button type="button" routerLink="/">Volver</button>
                    <button type="submit" >Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>