<!-- Modal sobre mi -->
<div class="modal fade" id="sobreMiModal" tabindex="-1" aria-labelledby="sobreMiModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="sobreMiModal">Editar informacion Sobre Mi</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
  
                <form class="was-validated">
                    <div class="mb-3">
                        <label for="tituloSobreMi" class="form-label">Titulo</label>
                        <textarea class="form-control" id="tituloSobreMi" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="infoSobreMi" class="form-label">Descripcion</label>
                        <textarea class="form-control" id="infoSobreMi" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
  
            </div>
        </div>
    </div>
  </div>
